.containter_tictac{
    display: flex;
    align-items: center;
    gap: 30px;
}

.tableTicTac
{
  
    height: 400px;
    width: 400px;
    margin-bottom: 20px;
}

.tableTicTac th{
    width: 100%;
}
.tableTicTac td{ 
    width: 33%;
    height: 33%;
  position: relative;
}
.tableTicTac td >button{
    height: 100%;
    width: 100%;
    background-color: rgba(228, 154, 26, 0.772);
}

@media screen and (max-width: 790px) {
    .containter_tictac{
        display: flex;
        flex-direction: column;
    }
    
}